*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-size: 100%;}

body {
    font-size: 16px; /*1.6rem*/
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.espacio-abajo { margin-bottom: 1rem;}

img , video ,source{
    width: 100%;
    object-fit: cover;
}

.contenedor {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.espacio-section {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.espacio-section-arriba {margin-top: 6rem;}
.espacio-section-abajo {margin-bottom: 6rem;}

ul {list-style: none;}
a { text-decoration: none;}


/*ESTILOS CAMPOS VACIOS REQUERIDOS*/
.error-registro-usuario {
    background-color: var(--colorGeneral);
    padding: .3rem;
    text-align: center;
    color: var(--blanco);
}

.texto-blanco { color: var(--blanco);}
.texto-mayuscula { text-transform: uppercase;}

/*ESTILOS BOTON*/
.boton {
    display: inline-block;
    border: solid 2px var(--colorGeneral);
    border-radius: 40px;
    padding: 8px 12px;
    text-align: center;
    font-size: 1rem;
}
.boton-color { background-color: var(--colorGeneral); color: var(--blanco) !important; font-weight: 400;}
.boton-sin-color { background-color: var(--blanco); color: var(--colorGeneral) !important; font-weight: 400; }
.boton-100 { width: 100%; }

.color-general {color: var(--colorGeneral)}


/*ESTILOS LABEL*/
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button, input {overflow: visible;}

.imagen-precia-admin{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

hr {
    height: 5px;
    width: 100px;
    background-color: var(--colorGeneral);
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.caja-titulo-general { text-align: center;}

.span-titulo-general {
 font-size: 1.2rem;
 font-weight: 300;
}

.titulo-h2-general {
    color: var(--colorGeneral);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3rem;
}

.tamanio-precio {font-size: 2rem;}
p { margin-bottom: 0rem;}

.img-cart{ width: 38px; height: 38px; border-radius: 50%;}
.input-carrito { 
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
}

.input-carrito-tamanio-uno { width: 55px;}
