/*ESTILOS NAVEGADOR*/
#navegador-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 3px 16px 0px rgba(189,189,189,1);
    -moz-box-shadow: 0px 3px 16px 0px rgba(189,189,189,1);
    box-shadow: 0px 3px 16px 0px rgba(189,189,189,1);
    background-color: var(--blanco);
    padding: .5rem;
}

#navegador-admin .btn-salir{
    background-color: var(--colorGeneral);
    color: var(--blanco);
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
}

#navegador-admin .logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#navegador-admin .lista-navegador{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navegador-admin .item-navegador a{
    font-size: 1.3rem;
    padding: 1rem 2rem;
}

#navegador-admin .item-navegador a:hover{
    background-color: var(--colorGeneral);
    color: var(--blanco);
}