/********************************ESTILOS PRODUCTO INDEX*************************************/
#header-producto  {
    background-color: var(--colorGeneral);
    padding: .3rem;
}
#header-producto .header-producto-descripcion h1 {
    text-align: center;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: 200;
    padding-top: 5rem;
}





/***************************************ESTILO PRODUCTO SHOW*********************************/
#flex-splide-padre {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

#flex-splide {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#flex-splide .flex-splide-tamanio-uno {
   width: 40%;
}

#flex-splide .flex-splide-tamanio-dos {
    width: 60%;
    padding: 2rem;
    -webkit-box-shadow: 3px 8px 67px 21px rgba(189,189,189,1);
    -moz-box-shadow: 3px 8px 67px 21px rgba(189,189,189,1);
    box-shadow: 3px 8px 67px 21px rgba(189,189,189,1);
}
